.modal-menu-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
}

.modal-menu-backdrop.show {
  opacity: 1;
  visibility: visible;
  align-items: flex-start;
}

.modal-menu-content {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  width: 30vw;
  max-width: 150px;
  font-size: 7vw;
  border: 3px solid #eeebff;

  padding: 24px 0;
}

.modal-menu-content a {
  display: block;
  padding: 12px 24px;
  border-bottom: 1px solid #eeebff50;
}

.modal-menu-content a + a {
  margin-top: 20px;
}
.modal-menu-content a:last-child {
  border-bottom: none;
}

.modal-menu-content a:last-child {
  border-bottom: none;
}
.modal-menu-backdrop.show .modal-menu-content {
  transform: translateY(0);
}
