.modal-menu-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 8vh;
  padding-right: 10px;
  background: rgba(0, 0, 0, 0.25);
  visibility: hidden;
  z-index: 1000;
}

.modal-menu-backdrop.show {
  opacity: 1;
  visibility: visible;
}

.modal-menu-content {
  display: flex;
  flex-direction: column;
  background: var(--main-background);
  color: var(--main-text-color);
  border-radius: 16px;
  width: 30vw;
  max-width: 150px;
  border: 3px solid #eeebff;
  padding: 24px 0;
}

.modal-menu-content a {
  text-decoration: none;
  padding: 12px 20px;
  border-bottom: 1px solid #eeebff50;
  color: var(--main-text-color);
}

.modal-menu-content a + a {
  margin-top: 20px;
}
.modal-menu-content a:last-child {
  border-bottom: none;
}

.modal-menu-content a:last-child {
  border-bottom: none;
}
.modal-menu-backdrop.show .modal-menu-content {
  transform: translateY(0);
}
